{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
                
            <div class="col-12 col-md-5 my-auto order-md-2">
                <a href="/records/1/" label="Buy ReBorn by Infected Mushroom, opens the store."><img class="hero shadow-img" src="{{ MEDIA_URL }}R-29689237-1707008146-7531.jpg" alt="IM Re:born release" width="100%"></a>
            </div>

            <div class="col-12 col-md-7 my-auto order-md-1">
                <h1 class="display-4 logo-font">
                    Latest from INFECTED MUSHROOM are here! <i class="fa-solid fa-fire"></i>
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'records' %}" class="shop-now-button btn btn-lg rounded-2 text-uppercase py-3 shadow-img">Go to store!</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}