{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            {% for c in all_categories %}
            <a class="category-badge text-decoration-none" href="{% url 'records' %}?category={{ c.name }}">
                <span class="p-2 mt-2 badge nav-color rounded-2 border border-q">{{ c.friendly_name }}</span>
            </a>
            {% endfor %}
            <hr class="w-50 mb-1 border-q">
        </div>
    </div>

    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <label for="sort-selector" class="form-label">Sort Records</label>
                        <select id="sort-selector"
                            class="custom-select form-control custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            <option value="releasedate_asc" {% if current_sorting == 'releasedate_asc' %}selected{% endif %}>Release Date (oldest first)</option>
                            <option value="releasedate_desc" {% if current_sorting == 'releasedate_desc' %}selected{% endif %}>Release Date (newest first)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a class="nav-color" href="{% url 'records' %}">Records Home</a> | </span>
                        {% endif %}
                        {{ records|length }} Records{% if search_term %} found for <strong>"{{ search_term
                            }}"</strong>{% endif %}
                    </p>
                </div>

            </div>
            <div class="row">
                {% for record in records %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 my-3">

                    <div class="card h-100 zoom">
                        {% if record.image %}
                        <div class="image-overlay-container">
                            <a href="{% url 'record_detail' record.id %}">
                                <img class="card-img-top img-fluid shadow-img" src="{{ record.image.url }}" alt="{{ record.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'record_detail' record.id %}">
                                <img class="card-img-top img-fluid shadow-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ record.name }}">
                            </a>
                            {% endif %}
                        
                            <!-- add to cart button on image -->
                            <form id="add-to-bag-form" method="POST" action="{% url 'add_to_bag' record.id %}" class="overlay-buy-now-form">
                                {% csrf_token %}
                                <input type="hidden" name="quantity" value="1">
                                <input type="submit" class="btn btn-outline-grey btn-outline-primary rounded-2 text-uppercase" value="Add to Bag">
                            </form>

                            <!-- New release/ Deal and Clearance labels, triggered by button i admin -->
                            {% if record.is_new_release %}
                            <div class="top-new p-2"><strong>NEW</strong> <i class="fa-solid fa-fire"></i></div>
                            {% endif %}

                            {% if record.is_deal %}
                            <div class="top-deal p-2"><strong>DEAL</strong> <i class="fa-solid fa-bolt-lightning"></i></div>
                            {% endif %}

                            {% if record.is_clearance %}
                            <div class="top-clearance p-2"><strong>CLEARANCE</strong> <i class="fa-solid fa-bolt-lightning"></i></div>
                            {% endif %}

                        </div>

                        <div class="row pt-4 pb-0">
                            <div class="col-6">
                                <!-- crud for su -->
                                {% if request.user.is_superuser %}
                                <small class="pl-3">
                                    <a href="{% url 'edit_record' record.id %}"><i class="fas fa-edit"></i> Edit</a> |
                                    <a class="text-danger" href="{% url 'delete_record' record.id %}"><i class="fas fa-trash"></i> Delete</a>
                                </small>
                                {% endif %}
                            </div>
                            <div class="col-6">
                                <p class="text-right pr-3">
                                    {{ record.releasedate }} 
                                </p>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <p class="mb-2">{{ record.name }}</p>
                        </div>
                        <div class="card-footer pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">${{ record.price }}</p>
                                    {% if record.rating %}
                                    <small class="text-light"><i class="fas fa-star mr-1"></i>{{ record.rating }} / 5
                                    </small>
                                    {% else %}
                                    <small class="text-light">No Rating </small>
                                    {% endif %}
                                    <small class="text-light">
                                        <i class="fa-solid fa-folder-open"></i>
                                        {% for category in record.category.all %}
                                        <a class="nav-color" href="{% url 'records' %}?category={{ category.name }}">{{ category.get_friendly_name }}</a>{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% include 'records/includes/quantity_input_script.html' %}
{% endblock %}
