{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if record.image %}
                        <a href="{{ record.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid shadow-img" src="{{ record.image.url }}" alt="{{ record.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid shadow-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ record.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ record.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">${{ record.price }}</p>
                    {% if record.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ record.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <small class="text-muted">
                        <i class="fa-solid fa-folder-open"></i> 
                        {% for category in record.category.all %}
                            <a class="nav-color" href="{% url 'records' %}?category={{ category.name }}">{{ category.get_friendly_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </small>     
                    <p class="mt-3">{{ record.description|safe|linebreaksbr }}</p>

                    <form class="form" action="{% url 'add_to_bag' record.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ record.id }}" id="id_qty_{{ record.id }}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'records' %}" class="btn btn-outline-grey border-q rounded-2 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-outline-grey border-q rounded-2 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}