{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid" id="faq">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="lead font-weight-bold">FAQ</p>
                <div>
                    {% for faq in faqs %}
                    <div>
                        <h3>{{ faq.question }}</h3>
                        <p>{{ faq.answer }}</p>
                    </div>
                    {% endfor %}
                </div>                
                </p>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="image-container my-5">
                <img class="card-img-top img-fluid shadow-img"
                    src="/media/pngtree-sound-waves-vector-illustration-png-image_1686908.jpg" alt="Sound waves">
            </div>
        </div>
    </div>
</div>

{% endblock %}