html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
    background-color: #212323;
    color: #8a8987;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

/* COLORS */
.nav-color {
    color: #8a8987;
}

.nav-color:hover {
    color: #bbbbbb;
}

em {
    color: #bbbbbb;
}

.bg-top {
    background-color: #1a1b1b;
}

.form-control {
    color: rgb(110, 107, 102);
    background-color: rgb(26, 27, 27);
}

.btn-color .border {
    border-color: rgb(43, 46, 47) !important;
}

.border-q {
    border-color: rgb(59, 59, 59) !important;
}

.dropdown-menu {
    background-color: #1a1b1b;
}

.dropdown-item {
    background-color: #1a1b1b;
    color: rgb(110, 107, 102)
}

.btn-black {
    background: #363636;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #575757;
    color: white;
}

.btn-outline-grey {
    color: white !important;
    background-color: rgb(26, 27, 27);
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.table {
    color: #8a8987;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.toast {
    background-color: rgba(255, 255, 255, 0.22);
}

.toast-header {
    background-color: #212323;
    color: #bbbbbb;
}

.toast-body {
    background-color: rgb(26, 27, 27);
    color: #bbbbbb;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 4px;
}

.close {
    color: #f8f8f8;
    text-shadow: none;
}

.close:hover {
    color: #d2d2d2;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* CARDS */
.card {
    background-color: #212323;
    margin-bottom: 10px;
}

.card-footer {
    background-color: #212323;
}

.zoom {
    transition: transform .2s;
    /* Animation */
}

.zoom:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

/* BUY NOW */
.image-overlay-container {
    position: relative;
    display: inline-block;
}

.overlay-buy-now-form {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    animation: fadeOut 0.3s ease-in-out forwards;
}

.image-overlay-container:hover .overlay-buy-now-form {
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* SPECIAL LABELS */
.top-new {
    position: absolute;
    top: 8px;
    right: -5px;
    color: rgb(255, 255, 255);
    background-color: rgb(83, 180, 88);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.top-deal {
    position: absolute;
    top: 8px;
    right: -5px;
    color: rgb(255, 255, 255);
    background-color: rgb(83, 161, 180);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.top-clearance {
    position: absolute;
    top: 8px;
    right: -5px;
    color: rgb(255, 255, 255);
    background-color: rgb(207, 132, 51);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* SHADOW */
.shadow-img {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 25px 50px -20px;
}

/* FOOTER */
footer {
    background-color: #1a1b1b;
}

/* FAQ and CONTACT */
#faq {
    padding-top: 100px; 
    margin-top: -100px; 
}

#contact {
    padding-top: 100px;
    margin-top: -100px; 
}

/* form control */
.form-control,
.custom-select {
    border-color: rgb(59, 59, 59) !important;
    color: #ced4da !important;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}