html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: 'Lato';
    background-color: #212323;
    color: #8a8987;
}

body > footer {
    position: sticky;
    top: 100vh;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}


/* COLORS */
.nav-color {
    color: #8a8987;
}

.nav-color:hover {
    color: #bbbbbb;
}

.bg-top {
    background-color: #1a1b1b;
}

.form-control {
    color: rgb(110, 107, 102);
    background-color: rgb(26, 27, 27);
}

.btn-color .border {
    border-color: rgb(43, 46, 47) !important;
}

.border-q {
    border-color: rgb(43, 46, 47) !important;
}

.dropdown-menu {
    background-color: #1a1b1b;
}

.dropdown-item {
    background-color: #1a1b1b;
    color: rgb(110, 107, 102)
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #575757;
    color: white;
}

.btn-outline-grey {
    color: white !important;
    background-color: rgb(26, 27, 27);
}

/* CARDS */
.card {
    background-color: #212323;
}

.card-footer {
    background-color: #212323;
}

.zoom {
    transition: transform .2s;
    /* Animation */
}

.zoom:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


/* SPECIAL LABELS */
.top-new {
    position: absolute;
    top: 8px;
    right: -5px;
    color: rgb(255, 255, 255);
    background-color: rgb(83, 180, 88);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.top-deal {
    position: absolute;
    top: 8px;
    right: -5px;
    color: rgb(255, 255, 255);
    background-color: rgb(83, 161, 180);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* SHADOW */
.shadow-img {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 25px 50px -20px;
}

/* FOOTER */
footer {
    background-color: #1a1b1b;
    height: 400px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}