<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link nav-color mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Records
            </a>
            <div class="dropdown-menu border-0 shadow-img" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'records' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 nav-color" href="#" id="psytrance" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Psytrance
            </a>
            <div class="dropdown-menu border-0 shadow-img" aria-labelledby="psytrance-link">
                <a href="{% url 'records' %}?category=Fullon" class="dropdown-item">Fullon</a>
                <a href="{% url 'records' %}?category=Forest" class="dropdown-item">Forest</a>
                <a href="{% url 'records' %}?category=Ambient" class="dropdown-item">Ambient</a>
                <a href="{% url 'records' %}?category=Psytrance" class="dropdown-item">All Psytrance</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 nav-color" href="#" id="techno-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Techno
            </a>
            <div class="dropdown-menu border-0 shadow-img" aria-labelledby="techno-link">
                <a href="{% url 'records' %}?category=industrial" class="dropdown-item">Industrial</a>
                <a href="{% url 'records' %}?category=melodic" class="dropdown-item">Melodic</a>
                <a href="{% url 'records' %}?category=ambient" class="dropdown-item">Ambient</a>
                <a href="{% url 'records' %}?category=techno" class="dropdown-item">All Techno</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 nav-color" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0 shadow-img" aria-labelledby="specials-link">
                <a href="{% url 'records' %}?q=is_new_release" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'records' %}?q=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'records' %}?q=is_new_release,deals" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link nav-color" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu border-0 shadow-img" aria-labelledby="about-link">
                <a href="" class="dropdown-item">About us</a>
                <a href="" class="dropdown-item">FAQ</a>
                <a href="" class="dropdown-item">Contact</a>
            </div>
        </li>
    </ul>
</div>