<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link nav-color mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Records
            </a>
            <div class="dropdown-menu border-0 shadow-img" aria-labelledby="all-products-link">
                <a href="{% url 'records' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'records' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'records' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'records' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 nav-color" href="#" id="psytrance" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Psytrance
            </a>
            <div class="dropdown-menu border-0 shadow-img" aria-labelledby="psytrance-link">
                <a href="{% url 'records' %}?category=fullon-psy" class="dropdown-item">Fullon</a>
                <a href="{% url 'records' %}?category=forest-psy" class="dropdown-item">Forest</a>
                <a href="{% url 'records' %}?category=ambient-psy" class="dropdown-item">Ambient</a>
                <a href="{% url 'records' %}?category=goa-psy" class="dropdown-item">Goa</a>
                <a href="{% url 'records' %}?category=psytrance" class="dropdown-item">All Psytrance</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 nav-color" href="#" id="techno-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Techno
            </a>
            <div class="dropdown-menu border-0 shadow-img" aria-labelledby="techno-link">
                <a href="{% url 'records' %}?category=industrial" class="dropdown-item">Industrial</a>
                <a href="{% url 'records' %}?category=melodic-techno" class="dropdown-item">Melodic</a>
                <a href="{% url 'records' %}?category=minimal-techno" class="dropdown-item">Minimal</a>
                <a href="{% url 'records' %}?category=techno" class="dropdown-item">All Techno</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 nav-color" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0 shadow-img" aria-labelledby="specials-link">
                <a href="{% url 'records' %}?category=new_release" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'records' %}?category=is_deal" class="dropdown-item">Deals</a>
                <a href="{% url 'records' %}?category=Classic" class="dropdown-item">Classics</a>
                <a href="{% url 'records' %}?category=is_clearance,is_deal,Classic,new_release" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link nav-color" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu border-0 shadow-img" aria-labelledby="about-link">
                <a href="{% url 'about' %}" class="dropdown-item">About us</a>
                <a href="{% url 'about' %}#faq" class="dropdown-item">FAQ</a>
                <a href="{% url 'about' %}#contact" class="dropdown-item">Contact</a>
            </div>
        </li>
    </ul>
</div>