{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid col-10" id="contact">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 mx-auto text-center">
      <div class="product-details-container mb-5 mt-md-5">

        <p class="lead font-weight-bold">Sign Up</p>

        <p class="small text-muted">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        <div class="form-group">
          {% csrf_token %}
          <table class="w-100">
            {{ form.as_table }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
          </table>
          <button type="submit">{% trans "Sign Up" %} &raquo;</button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}
