{% extends "account/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid col-10" id="contact">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 mx-auto text-center">

      <div class="mb-5">
        <p class="lead font-weight-bold">Sign Up</p>
        <p class="small text-muted">
          {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
          {% endblocktrans %}
        </p>

        SOME IMAGE HERE?! 
      </div>


      <form action="{% url 'account_signup' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.email|attr:"class:form-control"|attr:"placeholder:Email"|attr:"autofocus" }}
        </div>
        <input type="hidden" name="next" value="{{next}}">

        <div class="form-group">
          {{ form.email2|attr:"class:form-control"|attr:"placeholder:Email confirmation" }}
        </div>
        <input type="hidden" name="next" value="{{next}}">

        <div class="form-group">
          {{ form.username|attr:"class:form-control"|attr:"placeholder:Username" }}
        </div>
        <input type="hidden" name="next" value="{{next}}">

        <div class="form-group">
          {{ form.password1|attr:"class:form-control"|attr:"placeholder:Password" }}
        </div>
        <input type="hidden" name="next" value="{{next}}">

        <div class="form-group">
          {{ form.password2|attr:"class:form-control"|attr:"placeholder:Password (again)" }}
        </div>
        <input type="hidden" name="next" value="{{next}}">
        
        <div class="form-group">
          <button type="submit" class="btn btn-outline-success border-q rounded-2 text-uppercase float-right">Sign Up</button>
        </div>

        <!-- Error message if sign up failed -->
        {% if form.errors %}
        <font color="red">Username or Password does not Match. Please try again.</font>
        <hr>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
