{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Explore our well picked collection of Techno and Psytrance vinyl records. From classic hits to the latest releases, find your perfect beat with us.">
    <meta name="keywords"
        content="Techno Vinyl, Psytrance Vinyl, Classic Vinyl Records, Vinyl Store, Techno Music, Psytrance Music">
    <meta name="robots" content="index, follow">
    <meta name="author" content="TONALITY">
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/38e71f908d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <title>TONALITY {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-top pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font nav-color my-0">T<i class="fa-solid fa-compact-disc"></i>NALITY</h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{%  url 'records' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-q rounded-2" type="text" name="q"
                            placeholder="Find your jam...">
                        <div class="input-group-append">
                            <button class="form-control btn nav-color border border-q rounded-2" type="submit" id="search" aria-label="Search records">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="nav-color nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_record' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}nav-color{% endif %} nav-link"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fa-solid fa-basket-shopping fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-top">
            <nav class="navbar navbar-expand-lg w-100 nav-color">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="nav-color"><i class="fas fa-bars"></i></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    <!-- messages, and additions to bag -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <main>
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    </main>

    <footer class="footer">
        <div class="container-fluid w-75">
            <div class="row pt-5">
                <div class="col-12 col-md-4 mb-5">

                    <hr class="w-50 mb-1 border-q">
                    <p class="mt-3">
                        Dive into a sonic haven overflowing with rare techno & psytrance vinyl. Unearth forgotten
                        classics, discover underground gems, and curate your collection with the guidance of our
                        resident vinyl guru. Welcome to the trip.
                    </p>
                    <p class="small text-light text-right">
                        #raretechno #psytrance #vinylrecords #electronicmusic
                    </p>
                </div>
                <div class="col-1"></div>
                <div class="col-12 col-md-7 mb-5">
                    <h3 class="">Sign up for our newsletter</h3>
                    <div class="input-group w-80">

                        <form class="input-group" method="POST" action="{% url 'newsletter' %}">
                            {% csrf_token %}
                            <input class="form-control border border-q rounded-2" type="email" name="email"
                                placeholder="Enter your email." id="newsletter_form">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary border-q" type="submit">
                                    Subscribe
                                </button>
                            </div>
                        </form>
                    </div>

                    <p class="social-btns lead text-center">
                        <a href="{{ MEDIA_URL }}FacebookMock.png" aria-label="Our page on facebook, opens in a new tab" target="_blank" rel="noopener"><i
                                class="fa-brands fa-facebook nav-color m-3"></i></a>
                        <a href="" aria-label="Our page on youtube, opens in a new tab" target="_blank" rel="noopener"><i
                                class="fa-brands fa-youtube nav-color m-3"></i></a>
                        <a href="{{ MEDIA_URL }}InstagramMock.png" aria-label="Our page on instagram, opens in a new tab" target="_blank" rel="noopener"><i
                                class="fa-brands fa-instagram nav-color m-3"></i></a>
                    </p>

                </div>
            </div>
        </div>
        <p class="text-center text-light"> © 2023 m3 - Tonality AB | an Elitism Company.</p>
    </footer>

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

</body>
</html>