{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid id=" about"">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                <img class="card-img-top img-fluid shadow-img"
                    src="https://ecombutik1.s3.amazonaws.com/media/Lot-of-20-Random-Vinyl-Records-Vintage-Collection.webp"
                    alt="Image of a record shop">
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="lead font-weight-bold">About Tonality.</p>
                <p class=" mb-0 text-left">How it started. </p>

                <p class="p-3">
                    Tonality was born from a shared passion for music and a frustration with the
                    limitations of the mainstream industry. We envisioned a platform to share our love for rare and
                    classic sounds, <em>a space where music could truly resonate.</em></p>

                <p class="mt-3 p-3">
                    Anders "uFo", a record collector with an insatiable curiosity for hidden gems, found
                    himself yearning for a deeper connection with music. Surrounded by vinyl stacks in his small town,
                    Anders embarked on a mission to create a haven for music enthusiasts like himself. Thus, Tonality
                    was born – a record store that rapidly transformed into a sanctuary for those seeking more than the
                    latest hits.
                </p>
            </div>
            <hr class="w-50 mb-1 border-q">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="lead font-weight-bold">
                    Who we are.
                </p>
                
                <p class=" mb-0">Anders "uFo" </p>

                <p class="text-muted small">founder / absolute record nut</>

                <p class="mt-3 p-3">
                    Anders' keen eye for rare finds and his dedication to unearthing forgotten classics have made
                    Tonality a beloved destination for collectors and music lovers alike. His passion for the sonic
                    journey is infectious, and his expertise is a cornerstone of the Tonality experience.
                </p>
            </div>
            <div class="product-details-container mb-5 mt-md-5">
                <p class=" mb-0">Sandra</p>

                <p class="text-muted small">founder / finds beats in a hopeless place</>

                <p class="mt-3 p-3">
                    With a soul deeply rooted in electronic and urban sounds, Sandra finds her solace in the timeless
                    echoes etched on vinyl. Music isn't just a passion for Sandra; it's a lifeline. Co-founding Tonality
                    alongside Anders, Sandra has dedicated herself to resurrecting forgotten melodies and fostering a
                    community where music seekers can find refuge in the timeless tales spun by music's unsung heroes.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}