{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid id="about"">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    <img class="card-img-top img-fluid shadow-img" src="/media/Lot-of-20-Random-Vinyl-Records-Vintage-Collection.webp" alt="Image of a record shop">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="lead font-weight-bold">About us.</p>
                    <p class=" mb-0 text-left">How it started. </p>
                    
                        <p class="text-muted small">blabla</p>
                    
                    <p class="mt-3">There once oce a man who really liked 
                        music. But was frustrated at the current 
                        state of the music industry. He wanted to 
                        create a platform that would allow him to 
                        share his music with the world. 
                    </p>
                </div>
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="lead font-weight-bold">Who we are</p>
                    <p class=" mb-0 text-right">Anders Miller. </p>
                    
                        <p class="text-muted text-right small">founder</>
                    
                    <p class="mt-3">
                        In a small town, a young record collector, Anders, 
                        transformed his passion into a thriving hub. 
                        Surrounded by stacks of vinyl, he started "Tonality," 
                        a record store that quickly became a sanctuary for 
                        music lovers. Anders keen ear for rare finds and 
                        classics turned Tonality into a 
                        beloved community treasure. 
                    </p>
                </div>
                <div class="product-details-container mb-5 mt-md-5">
                    <p class=" mb-0 text-right">Sandra Miller. </p>
                    
                        <p class="text-muted text-right small">founder</>
                    
                    <p class="mt-3">
                        Sandra, with her soul deeply rooted in the 
                        electronical and urban , found her calling in the 
                        echoes of vinyl grooves. Her love for music wasn't 
                        just a hobby; it was a lifeline. Co-founding "Tonality" 
                        alongside her love, she dedicated her life to 
                        resurrecting forgotten melodies, turning the store 
                        into a haven for those seeking refuge in the timeless 
                        tales spun by music's unsung heroes.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" id="contact">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="lead font-weight-bold">Social Media</p>
                    <h2>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-instagram"></i>
                    </h2>  
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="lead font-weight-bold">Contact form</p>
                    
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control border border-q rounded-1" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control border border-q rounded-1" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea class="form-control border border-q rounded-1" id="message" name="message" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}