{% load static %}

{% block content %}
<hr class="w-50 mb-1 border-q">
<div class="container-fluid" id="contact">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="product-details-container mb-5 mt-md-5">
                <h2 class="lead font-weight-bold mb-4">Social Media</h2>

                <p class="social-text">
                    Find us on social media, or just get in touch
                    via the contact form.
                </p>
                <p class="text-right">
                    <em>// Tonality</em>
                </p>

                <hr class="w-50 mb-1 border-q">

                <p class="social-btns lead text-center">
                    <a href="{{ MEDIA_URL }}FacebookMock.png" label="Our page on facebook, opens in a new tab" target="_blank" rel="noopener"><i class="fa-brands fa-facebook nav-color m-3"></i></a>
                    <a href="" label="Our page on youtube, opens in a new tab" target="_blank" rel="noopener"><i class="fa-brands fa-youtube nav-color m-3"></i></a>
                    <a href="{{ MEDIA_URL }}InstagramkMock.png" label="Our page on instagram, opens in a new tab" target="_blank" rel="noopener"><i class="fa-brands fa-instagram nav-color m-3"></i></a>
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h2 class="lead font-weight-bold">Contact form</h2>

                <form id="contactForm" action="{% url 'contact' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control border border-q rounded-1" id="name" name="name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control border border-q rounded-1" id="email" name="email"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea class="form-control border border-q rounded-1" id="message" name="message" rows="5"
                            placeholder="Give us your thoughts." required></textarea>
                    </div>
                    <div class="text-right">
                    <button type="submit" class="btn btn-outline-primary border-q">Send</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}